.active {
    font-weight: bold;
    fill: #ffc107;
}

.bg-lightgrey {
    background-color: #eeeeee;
}

.nav-item {
    padding-top: 0.3rem; 
}

.nav-item > a svg {
    transition-duration: 0.8s;
}

.nav-item > a:hover svg {
    transition-duration: 0.4s;
    fill: #ffc107;
}
