#auth-page {
    background-image: url("../../assets/library.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(240, 166, 75);
}