#btn-dropdown:hover svg {
    transition-duration: 0.4s;
    fill: #ffc107;
}

.dropdown-item:active, .dropdown-item:active > a {
    color: #ffc107 !important;
    background-color: transparent;
}

.dropdown-item:focus {
    outline-color: transparent;
}